<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="MyServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44338/MyService.asmx" binding="basicHttpBinding"
                bindingConfiguration="MyServiceSoap" contract="MyServiceReference.MyServiceSoap"
                name="MyServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>